<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moppo.scrm.proxy.mapper.AuthRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moppo.scrm.proxy.entity.AuthRecord">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="auth_code" property="authCode" />
        <result column="auth_type" property="authType" />
        <result column="chare_type" property="chareType" />
        <result column="buy_count" property="buyCount" />
        <result column="total_amount" property="totalAmount" />
        <result column="real_amount" property="realAmount" />
        <result column="pay_status" property="payStatus" />
        <result column="apply_status" property="applyStatus" />
        <result column="apply_desc" property="applyDesc" />
        <result column="verify_desc" property="verifyDesc" />
        <result column="pay_time" property="payTime" />
        <result column="apply_time" property="applyTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="delete_by" property="deleteBy" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, auth_code, auth_type, chare_type, buy_count, total_amount, real_amount, pay_status, apply_status, apply_desc, verify_desc, pay_time, apply_time, create_by, update_by, delete_by, create_at, update_at, delete_at
    </sql>

</mapper>
