<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moppo.scrm.proxy.mapper.AuthDetailRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moppo.scrm.proxy.entity.AuthDetailRecord">
        <id column="id" property="id" />
        <result column="auth_record_id" property="authRecordId" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="charge_type" property="chargeType" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="effect_time" property="effectTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="delete_by" property="deleteBy" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, auth_record_id, user_id, user_name, charge_type, start_time, end_time, effect_time, create_by, update_by, delete_by, create_at, update_at, delete_at
    </sql>

</mapper>
