<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moppo.scrm.proxy.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moppo.scrm.proxy.entity.Notice">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="en_title" property="enTitle" />
        <result column="introduction" property="introduction" />
        <result column="en_introduction" property="enIntroduction" />
        <result column="content" property="content" />
        <result column="en_content" property="enContent" />
        <result column="deadline_time" property="deadlineTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="delete_by" property="deleteBy" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, en_title, introduction, en_introduction, content, en_content, deadline_time, create_by, update_by, delete_by, create_at, update_at, delete_at
    </sql>

</mapper>
