<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moppo.scrm.proxy.mapper.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moppo.scrm.proxy.entity.Tenant">
        <id column="id" property="id" />
        <result column="guid" property="guid" />
        <result column="service_url" property="serviceUrl" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="sell_id" property="sellId" />
        <result column="sell_name" property="sellName" />
        <result column="main_account" property="mainAccount" />
        <result column="main_account_id" property="mainAccountId" />
        <result column="contact_person" property="contactPerson" />
        <result column="contact_phone" property="contactPhone" />
        <result column="email" property="email" />
        <result column="industry_type" property="industryType" />
        <result column="contact_address" property="contactAddress" />
        <result column="qualification" property="qualification" />
        <result column="type" property="type" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="delete_by" property="deleteBy" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, guid, service_url, name, status, sell_id, sell_name, main_account, main_account_id, contact_person, contact_phone, email, industry_type, contact_address, qualification, type, create_by, update_by, delete_by, create_at, update_at, delete_at
    </sql>

</mapper>
